<script>
    let a = "10";
    a = a + "20";
    const l = "Hello";
    document.write(l + "<br/>");
    document.write("<h1>"+a+"</h1>");
    //Loop 
    for(let i = 1;i<=10;i++){
        document.write( i +"<br/>");
    }
</script>