<script>
    let q = "";
    for(let i = 1;i<=5;i++){
        q = q + "*";
        document.write(q + "<br/>");
    }
</script>

<select>
    <script>
        for(let m = 1900;m<=2019;m++){
            document.write("<option>"+m+"</option>");
        }
    </script>
</select>