<script>
    let a = ['val1','val2']; // Array
    let b = {username:'peeter'}; // Object
    let c = [
            {name:'peeter',fname:'james'},
            'Hello',
            {name:'jema'}
            ];
    let d = {data:[{name:'Harry Potter'}]};

    document.write(a[0]);
    document.write(c[0].fname);
    document.write(b.username);
    document.write("<br/>"+d.data[0].name + "<br/>");


    let arr = ['myarr'];
    arr.push('this is my arr');
    arr.push('this is my arr 1');
    document.write(arr[2]);
</script>